<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="Html, Css, java, python,best class in raipur for python, full stack developer salary in india,accenture full stack web developer salary,cooding classes,python classes,full stack developer course,
    full stack developer,what is full stack developer,ull stack developer meaning,java full stack developer,full stack developer salary,software developer,software developer salary,it courses,
    frfront end developeront end developer,front end developer skills,front end developer jobs,graphic design,graphic design courses,
    programming languages,top programming languages,web development company,web development courses,web development services,python web development
    ">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="{% static 'css/Digital-Marketing.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logo/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/logo/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <title>Digital Marketing</title>

    <style>

    </style>


</head>


<body>
<div class="fixed-top">
    <nav class="navbar navbar-expand-lg nav Style">
        <a class="brand-navbar" href="{% url 'index' %}"><img alt="Responsive image" height="60px"
                                                              src="{% static 'img/logo.jpg' %}"></a>
        <button class="navbar-toggler" data-target="#mainMenu" data-toggle="collapse">
            <span><i class="fas fa-align-right iconStyle"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto navList">
                <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>HOME<span
                        class="sr-only">(current)</span></a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-users"></i>Who We Are</a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" ><i
                            class="fas fa-cogs"></i>Services</a>

                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="{% url 'software_deve' %}">Software Development</a></li>
                        <li><a class="dropdown-item" href="{% url 'tap' %}">Training and Placement</a></li>
                        <li><a class="dropdown-item" href="{% url 'Digital_Marketing' %}">Digital Marketing</a></li>
                        <li><a class="dropdown-item" href="{% url 'full_stack' %}">Full Stack Development with
                            Crampete</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'training' %}">Campus Recruitment Crash
                            Courses</a></li>
                        <li><a class="dropdown-item" href="{% url 'Recruitments' %}">Recruitment</a></li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'Courses' %}"><i
                            class="fas fa-atom"></i>Courses</a>

                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="{% url 'full_stack_developers' %}">Full Stack Developers</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'Data_science' %}">Data science</a></li>
                        <li><a class="dropdown-item" href="{% url 'Digital_Market' %}">Digital Market</a></li>
                        <li><a class="dropdown-item" href="{% url 'Crash_Course' %}">Crash Course</a></li>
                        <!-- <li><a class="dropdown-item" href="{% url 'Aptitude_Reasoning' %}">Aptitude Reasoning</a></li>
                        <li><a class="dropdown-item" href=" {% url 'Profile_Preparation' %} ">Profile Preparation</a></li> -->
                        <!-- <li><a class="dropdown-item" href="{% url 'CV_Building' %} ">CV Building</a></li> -->
                        <li><a class="dropdown-item" href="{% url 'Mock_Interviews' %} ">Mock Interviews</a></li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'ongoing' %}"><i class="fas fa-user-tie"></i>Ongoing
                        Recruitments</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clients' %}"><i class="fas fa-briefcase"></i>Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-phone"></i>Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" href="#"><i
                            class="fas fa-cogs"></i>More</a>

                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">Pay Online</a></li>
                        <li><a class="dropdown-item" href="#">Book Online</a></li>
                        <!-- <li><a class="dropdown-item" href="Digital-Marketing.html">Digital Marketing</a></li> -->

                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<section style="margin-top:5.7%">
    <div class="container-fluid">
        <div class="row">

            <div class="banner">

                <img alt="Responsive image" height="80%" class="img-fluid img1" src="{% static 'img/network.jpg' %}">
                <div class="content">
                    <h1 class="demo-head" style="padding-top:100px;">Digital Marketing</h1>
                    <!-- <p class="heading"
                       style="font-size:20px;margin-top:15%;margin-left: 30%;margin-right: 30%;text-align: justify">
                        Digital Marketing
                        is the term used for the targeted, measurable, and interactive marketing of products or services
                        using digital technologies to reach the viewers, turn them into customers, and retain them. ...
                        Traditional marketing policies had limited customer reachability and scope of driving customers'
                        buying behavior</p> -->
                </div>

            </div>
        </div>


    </div>
</section>

<section class="demo-head" style="margin-top:5%;">
    <div class="container">
        <h1>Digital Marketing</h1>
    </div>
</section>

<section class="demo11" style="margin-top: 10%;">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="main-timeline8">
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Complete Digital Marketing</span>
                        <div class="timeline-content">
                            <p class="description">
                                Anion provides result driven digital marketing services to grow up any online or offline
                                business.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Facebook Marketing</span>
                        <div class="timeline-content">
                            <p class="description">
                                Engage your followers & increase Brand Awareness with a facebook page people will love.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Search Engine Optimization (SEO)</span>
                        <div class="timeline-content">
                            <p class="description">
                                Company is here to provide you result-oriented SEO service

                                ​

                                SEO (Search Engine Optimization) is one of the most important elements for online
                                marketing strategy. If your web site does not bring in quality traffic then your online
                                marketing efforts are not working properly. Your company is losing business then. The
                                goal for any online marketing is increase in sales and you can achieve it by placing
                                your web site on the top of the major search engines and directories.

                                SEO isn't just about building search engine-friendly websites. It's about making your
                                site better for people too.


                                Our search engine optimization services have helped our clients on a long term basis and
                                maintained ranks even during the most turbulent times in the business..
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Social Media Marketing (SMM)</span>
                        <div class="timeline-content">
                            <p class="description">
                                Anion delivers bespoke social media services, designed to delight your audience.
                                Social media platforms are a very good way to bring higher conversion rates. Social
                                media marketing results in higher conversion rates in a few distinct ways. Perhaps the
                                most important part is when we use social media we get human connection, knowing what
                                people want and having an idea about their interests is always good. Social media is a
                                place where brands can act like people do, and this is important because people like
                                doing business with other people; not with companies. Social media is a place where
                                advertisements get a lot of hits and moreover the most important thing is targeting
                                audience. Once you get to know about the target audience you will know how to bulk in
                                certain things. Basically the most important variation comes when the target audience
                                gets turned into customers. Social media is an amazing platform to know about people &
                                their preferences. Knowledge of what the common masses want is important. In today’s
                                world the best market to advertise any product or service is through social media..
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">PPC Advertising (Google Ads)</span>
                        <div class="timeline-content">
                            <p class="description">
                                We help companies increase sales and engage new customers with our PPC advertising
                                service
                                PPC advertising is the most effective way of reaching your clients. It can be referred
                                as paid online advertising in which advertiser pays to the search engines like Google or
                                Yahoo for per click or every visitor that they get on.
                                PPC setups include:
                                Advanced keyword research/selection
                                Competitor analysis
                                Campaign/Ad Group organization
                                Ad Copy Creation
                                Review of account settings
                                Managing keyword bid levels
                                Google Analytics integration & conversion tracking.
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">eCommerce Marketing</span>
                        <div class="timeline-content">
                            <p class="description">
                                eCommerce Marketing Solutions with strategies & tactics that work.

                                ​

                                eCommerce marketing basically refers to the practice of guiding online shoppers to an
                                eCommerce website and persuading them to buy the products or services online.

                                ​

                                eCommerce marketing helps you fetch more clients, makes your business prosper and helps
                                increase traffic of your online ventures.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="demo-footer" style="margin-top:10%;">

    <footer>

        <div class="container-fluid" style="background: rgba(0, 0, 0, 0.)">
            <div class="row">

                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 ">
                    <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 " style="margin-top:70px;">


                        <img src="{% static 'img/logo.jpg' %}" width="250">
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 top-margin">
                    <h2 class="top-margin" style="color:white;margin-top: 4%">Contact</h2>
                    <hr class="hr-tag" style="height:2px;border-width:0;color:gray;background-color:gray">
                    <div class="">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text" style="text-align:center; color: white;">First Floor, House Board Commercial<br>Complex, Maulshri Vihar, Near VIP Road,Raipur (C.G.)-492006</span>
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text" style="text-align:center; color: white;">07714041616</span>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text" style="text-align:center; color: white;">info@anionstech.com</span>
                        </div>
                    </div>


                </div>

                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 top-margin">
                    <h2 style="color:white;margin-top: 4%"
                        style="height:2px;border-width:0;color:gray;background-color:gray">Opening Hours</h2>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <p style="color: white"> Monday to Saturday - 10am to 7pm</p>

                    <p style="color: white">Sunday - Closed</p>


                </div>
                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 top-margin">
                    <h2 style="color:white;margin-top: 4%">Map</h2>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <div class="content">

                        <iframe allowfullscreen=""
                                aria-hidden="false" frameborder="0" height="auto"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1859.7810682577572!2d81.69984930586462!3d21.20954632009619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c33030e9b60f%3A0x84d09e54f1b37a21!2sAnion%20Softech%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1609041632180!5m2!1sen!2sin"
                                style="border:0;"
                                tabindex="0" width="auto"></iframe>

                    </div>

                </div>

            </div>


        </div>

        <div class="contaiter" style="background-color:black">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="social">
                            <a href="https://www.facebook.com/AnionStech/"><p class="social-font"><span
                                    class="fab fa-facebook-square"></span></p></a>
                            <a href="https://linkedin.com/in/anion-softech-2707081a2"><p class="social-font"><span
                                    class="fab fa-linkedin"></span></p></a>
                            <a href="https://instagram.com/anion_softech?igshid=110myfr4rra4i"><p class="social-font">
                                <span class="fab fa-instagram"></span></p></a>
                            <a href="https://youtube.com/channel/UCRTBQGAlBv1cNUaODhxx-4A"><p class="social-font"><span
                                    class="fab fa-youtube"></span></p></a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 demo21">
                        <h6 style="color: white;margin-top:5%;margin-left:50%;">@ 2020 Anion Softech .All Rights
                            Reserved.</h6>
                    </div>
                </div>
            </div>

        </div>

    </footer>
</section>


<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>