<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="Html, Css, java, python,best class in raipur for python, full stack developer salary in india,accenture full stack web developer salary,cooding classes,python classes,full stack developer course,
    full stack developer,what is full stack developer,ull stack developer meaning,java full stack developer,full stack developer salary,software developer,software developer salary,it courses,
    frfront end developeront end developer,front end developer skills,front end developer jobs,graphic design,graphic design courses,
    programming languages,top programming languages,web development company,web development courses,web development services,python web development
    ">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="{% static 'css/full-stack-developers.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logo/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/logo/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
     <style>
        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu {
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                margin-top: 0;
            }

            .navbar .nav-item:hover .nav-link {
                color: #fff;
            }

            .navbar .dropdown-menu.fade-down {
                top: 80%;
                transform: rotateX(-75deg);
                transform-origin: 0% 0%;
            }

            .navbar .dropdown-menu.fade-up {
                top: 180%;
            }

            .navbar .nav-item:hover .dropdown-menu {
                transition: .3s;
                opacity: 1;
                visibility: visible;
                top: 60px;
                transform: rotateX(0deg);
            }
        }

        .dropdown-menu {
            background: rgba(0, 0, 0, 0.9);
        }
    </style>
</head>

<body>

<div class="fixed-top">
    <nav class="navbar navbar-expand-lg nav Style">
        <a class="brand-navbar" href="{% url 'index' %}"><img alt="Responsive image" height="60px"
                                                              src="{% static 'img/logo.jpg' %}"></a>
        <button class="navbar-toggler" data-target="#mainMenu" data-toggle="collapse">
            <span><i class="fas fa-align-right iconStyle"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto navList">
                <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>HOME<span
                        class="sr-only">(current)</span></a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-users"></i>Who We Are</a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i
                            class="fas fa-cogs"></i>Services</a>

                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="{% url 'software_deve' %}">Software Development</a></li>
                        <li><a class="dropdown-item" href="{% url 'tap' %}">Training and Placement</a></li>
                        <li><a class="dropdown-item" href="{% url 'Digital_Marketing' %}">Digital Marketing</a></li>
                        <li><a class="dropdown-item" href="{% url 'full_stack' %}">Full Stack Development with
                            Crampete</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'training' %}">Campus Recruitment Crash
                            Courses</a></li>
                        <li><a class="dropdown-item" href="{% url 'Recruitments' %}">Recruitment</a></li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'Courses' %}"><i
                            class="fas fa-atom"></i>Courses</a>

                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="{% url 'full_stack_developers' %}">Full Stack Developers</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'Data_science' %}">Data science</a></li>
                        <li><a class="dropdown-item" href="{% url 'Digital_Market' %}">Digital Market</a></li>
                        <li><a class="dropdown-item" href="{% url 'Crash_Course' %}">Crash Course</a></li>
                        <!-- <li><a class="dropdown-item" href="{% url 'Aptitude_Reasoning' %}">Aptitude Reasoning</a></li>
                        <li><a class="dropdown-item" href=" {% url 'Profile_Preparation' %} ">Profile Preparation</a></li> -->
                        <!-- <li><a class="dropdown-item" href="{% url 'CV_Building' %} ">CV Building</a></li> -->
                        <li><a class="dropdown-item" href="{% url 'Mock_Interviews' %} ">Mock Interviews</a></li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'ongoing' %}"><i class="fas fa-user-tie"></i>Ongoing
                        Recruitments</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clients' %}"><i class="fas fa-briefcase"></i>Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-phone"></i>Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" href="#"><i
                            class="fas fa-cogs"></i>More</a>

                    <ul class="dropdown-menu fade-up">
                        <li><a class="dropdown-item" href="#">Pay Online</a></li>
                        <li><a class="dropdown-item" href="#">Book Online</a></li>
                        <!-- <li><a class="dropdown-item" href="Digital-Marketing.html">Digital Marketing</a></li> -->

                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>


<section style=" background-color:#f9f9fa;">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8 col-md-12 col-xl-8">
                <div class="card" style="margin-top:20%;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Complete Course Syllabus</h5>
                        <p class="card-text">Anyone with an analytical mind, a hunger to learn and a dash of creativity
                            can
                            become a great digital marketer. If that’s you, this course is for you!
                            This course, designed for both students with and without experience in Digital
                            Marketing, makes you a well-rounded professional.
                        </p>

                    </div>

                </div>

                <div class="page-content page-container" id="page-content">
                    <div class="padding">


                        <div class="timeline p-4 block mb-4">
                            <p class="font-weight-bold" style="font-size:30px;">Digital Marketing Course module</p>
                            <div class="tl-item active">
                                <div class="tl-dot b-warning"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">MARKETING</div>
                                    <p class="text-muted" style="font-size:13px;">Get your marketing bases strong with
                                        this foundational module. Learn the
                                        importance of marketing and how it has evolved over the course of time. You'll
                                        also learn some important concepts related to digital marketing.</p>
                                    <ol class="text-muted">
                                        <li>Marketing Fundamentals
                                        </li>
                                        <li>Difference between Digital and Traditional marketing
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="tl-item">
                                <div class="tl-dot b-primary"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">ORGANIC MARKETING</div>
                                    <p class="text-muted" style="font-size:13px;">Like a soldier who has to know and
                                        learn his weapons thoroughly before entering
                                        the battlefield, you'll learn the popular forms of digital marketing methods
                                        available at your disposal.</p>
                                    <ol class="text-muted">
                                        <li>Social Media Marketing</li>
                                        <li>Content Marketing</li>
                                        <li>Email Marketing</li>
                                        <li>Video Marketing
                                        </li>
                                        <li>Affiliate Marketing</li>
                                        <li>Integrated Marketing
                                        </li>
                                    </ol>


                                </div>
                            </div>
                            <div class="tl-item">
                                <div class="tl-dot b-danger"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">PAID MARKETING</div>

                                    <p class="text-muted" style="font-size:13px;">Learn to use your marketing budget to
                                        run online ads effectively. By the end of
                                        this module, you'll know how to create campaigns and choose the appropriate
                                        advertising platform(s).</p>
                                    <ol class="text-muted">
                                        <li>Google Ads and Facebook Ads</li>
                                        <li>Copywriting Ads</li>
                                        <li>Landing Pages</li>
                                        <li>Graphic Design Basics</li>
                                    </ol>


                                </div>
                            </div>
                            <div class="tl-item">
                                <div class="tl-dot b-danger"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">SEARCH ENGINE OPTIMIZATION</div>
                                    <p class="text-muted" style="font-size:13px;">Learn how to improve search engine
                                        rankings of a website through white hat
                                        methods. Specifically, you'll know the major factors of search engine ranking,
                                        as
                                        determined by Google, Bing, and Yahoo.
                                    </p>
                                    <ol class="text-muted">
                                        <li>Search Engine Optimization</li>
                                        <li>On page optimization</li>
                                        <li>OFF page optimization</li>
                                        <li>Link Building strategy</li>
                                    </ol>


                                </div>
                            </div>
                            <div class="tl-item">
                                <div class="tl-dot b-warning"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">MARKETING ANALYTICS
                                    </div>
                                    <p class="text-muted" style="font-size:13px;">Understand the key metrics that
                                        determine the success of every marketing
                                        campaign. You will be rewarded hugely if you're able to dollarize your results.
                                        This module will help you do that.</p>
                                    <ol class="text-muted">
                                        <li>Google Analytics</li>
                                        <li>Google Tag Manager</li>
                                        <li>Google Webmaster Tools</li>
                                        <li>Other Tools</li>
                                    </ol>


                                </div>
                            </div>
                            <div class="tl-item">
                                <div class="tl-dot b-warning"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">Projects</div>

                                    <p class="text-muted" style="font-size:13px;">Each project is designed to deepen and
                                        solidify your theoretical and conceptual
                                        understanding.
                                    </p>


                                </div>
                            </div>

                            <div class="tl-item">
                                <div class="tl-dot b-warning"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">GET STARTED WITH CONTENT MARKETING</div>

                                    <p class="text-muted" style="font-size:13px;">Find your niche, register a domain,
                                        write three blog posts on your chosen topic.
                                        Learn the basics of content promotion on channels like Facebook, Instagram and
                                        Pinterest.
                                    </p>


                                </div>
                            </div>

                            <div class="tl-item">
                                <div class="tl-dot b-warning"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">LAUNCH YOUR FIRST AD CAMPAIGN</div>

                                    <p class="text-muted" style="font-size:13px;">In this project, you will learn to
                                        properly set up Facebook and Instagram business
                                        accounts and get your first 100 visitors through paid campaigns in Facebook,
                                        Instagram and Google Adwords.
                                    </p>


                                </div>
                            </div>


                            <div class="tl-item">
                                <div class="tl-dot b-warning"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">SEO YOUR BLOG</div>

                                    <p class="text-muted" style="font-size:13px;">Understand your audience and find the
                                        right keywords to reach them. Install the
                                        required plugins to optimize your blog. You will identify the crucial
                                        performance
                                        metrics for your blog.

                                    </p>


                                </div>
                            </div>


                            <div class="tl-item">
                                <div class="tl-dot b-warning"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">PROMOTE YOUR BLOG WITH EMAIL MARKETING</div>

                                    <p class="text-muted" style="font-size:13px;">In this project, you'll bring traffic
                                        to your blog with email marketing. You'll also
                                        create an offer and sell with email. You'll aim to increase your open rates and
                                        click-through rates.
                                    </p>


                                </div>
                            </div>


                            <div class="tl-item">
                                <div class="tl-dot b-warning"></div>
                                <div class="tl-content">
                                    <div class="font-weight-bold">SPREAD YOUR MESSAGE ON SOCIAL MEDIA</div>

                                    <p class="text-muted" style="font-size:13px;">You'll promote your articles on the
                                        relevant social media platforms. You'll apply a
                                        number of follower growth strategies and find out which ones to repeat, which
                                        ones to amplify and which ones to drop.
                                    </p>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                <div class="row text-center">
                    <div class="col demo-section">
                        <div class="counter">
                            <i class="fa fa-business-time fa-2x"></i>

                            <p class="count-text font-weight-bold" style="font-size:30px;"> Program Duration</p>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row text-center">
                    <div class="col">
                        <div class="counter">
                            <i class="fa fa-calendar-alt fa-2x"></i>
                            <h2 class="timer count-title count-number" data-speed="1500" data-to="2"></h2>
                            <p class="count-text font-weight-bold" style="font-size:30px;">MONTHS</p>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row text-center">
                    <div class="col">
                        <div class="counter">
                            <i class="fa fa-calendar-week fa-2x"></i>
                            <h2 class="timer count-title count-number" data-speed="1500" data-to="8"></h2>
                            <p class="count-text font-weight-bold" style="font-size:30px;">WEEKS</p>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row text-center">
                    <div class="col">
                        <div class="counter">
                            <i class="fa fa-clock fa-2x"></i>
                            <h2 class="timer count-title count-number" data-speed="1500" data-to="20"></h2>
                            <p class="count-text font-weight-bold" style="font-size:30px;">HOURS PER WEEK</p>
                        </div>
                    </div>
                </div>

                <br>


            </div>

        </div>
    </div>
    <br><br><br><br>

</section>


<!--footer-->
<section class="demo-footer">

    <footer>

        <div class="container-fluid" style="background-color:rgba(0, 0, 0, 0.7)">
            <div class="row">

                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 ">
                    <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 " style="margin-top:70px;">


                        <img src="{% static 'img/logo.jpg' %}" width="250">
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 top-margin">
                    <h2 class="top-margin" style="color:white;margin-top: 4%">Contact</h2>
                    <hr class="hr-tag" style="height:2px;border-width:0;color:gray;background-color:gray">
                    <div class="">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text" style="text-align:center; color: white;">First Floor, House Board Commercial<br>Complex, Maulshri Vihar, Near VIP Road,Raipur (C.G.) -492006</span>
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text" style="text-align:center; color: white;">07714041616</span>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text" style="text-align:center; color: white;">info@anionstech.com</span>
                        </div>
                    </div>


                </div>

                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 top-margin">
                    <h2 style="color:white;margin-top: 4%"
                        style="height:2px;border-width:0;color:gray;background-color:gray">Opening Hours</h2>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <p style="color: white"> Monday to Saturday - 10am to 7pm</p>

                    <p style="color: white">Sunday - Closed</p>


                </div>
                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 top-margin">
                    <h2 style="color:white;margin-top: 4%">Map</h2>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <div class="content">

                        <iframe allowfullscreen="" aria-hidden="false" frameborder="0" height="auto"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1859.7810682577572!2d81.69984930586462!3d21.20954632009619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c33030e9b60f%3A0x84d09e54f1b37a21!2sAnion%20Softech%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1609041632180!5m2!1sen!2sin"
                                style="border:0;" tabindex="0" width="auto"></iframe>

                    </div>

                </div>

            </div>


        </div>

        <div class="container-fluid" style="background-color:black">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="social">
                            <a href="https://www.facebook.com/AnionStech/">
                                <p class="social-font"><span class="fab fa-facebook-square"></span></p>
                            </a>
                            <a href="https://linkedin.com/in/anion-softech-2707081a2">
                                <p class="social-font"><span class="fab fa-linkedin"></span></p>
                            </a>
                            <a href="https://instagram.com/anion_softech?igshid=110myfr4rra4i">
                                <p class="social-font">
                                    <span class="fab fa-instagram"></span></p>
                            </a>
                            <a href="https://youtube.com/channel/UCRTBQGAlBv1cNUaODhxx-4A">
                                <p class="social-font"><span class="fab fa-youtube"></span></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 demo21">
                        <h6 style="color: white;margin-top:5%;margin-left:50%;">@ 2020 Anion Softech .All Rights
                            Reserved.
                        </h6>
                    </div>
                </div>
            </div>

        </div>

    </footer>
</section>


<section>


    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label" for="recipient-name">NAME:</label>
                            <input class="form-control" id="recipient-name" placeholder="Name" required type="text">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="recipient-name">EMAIL:</label>
                            <input class="form-control" id="recipient-name" placeholder="Email" required type="email">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="recipient-name">PHONE NUMBER:</label>
                            <input class="form-control" id="recipient-name" placeholder="Phone Number" required
                                   type="tel">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="recipient-name">COLLEGE NAME:</label>
                            <input class="form-control" id="recipient-name" placeholder="College Name" required
                                   type="text">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="button">Pay Now</button>
                </div>
            </div>
        </div>
    </div>
</section>


<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<script>
    (function ($) {
        $.fn.countTo = function (options) {
            options = options || {};

            return $(this).each(function () {
                // set options for current element
                var settings = $.extend({}, $.fn.countTo.defaults, {
                    from: $(this).data('from'),
                    to: $(this).data('to'),
                    speed: $(this).data('speed'),
                    refreshInterval: $(this).data('refresh-interval'),
                    decimals: $(this).data('decimals')
                }, options);

                // how many times to update the value, and how much to increment the value on each update
                var loops = Math.ceil(settings.speed / settings.refreshInterval),
                    increment = (settings.to - settings.from) / loops;

                // references & variables that will change with each update
                var self = this,
                    $self = $(this),
                    loopCount = 0,
                    value = settings.from,
                    data = $self.data('countTo') || {};

                $self.data('countTo', data);

                // if an existing interval can be found, clear it first
                if (data.interval) {
                    clearInterval(data.interval);
                }
                data.interval = setInterval(updateTimer, settings.refreshInterval);

                // initialize the element with the starting value
                render(value);

                function updateTimer() {
                    value += increment;
                    loopCount++;

                    render(value);

                    if (typeof (settings.onUpdate) == 'function') {
                        settings.onUpdate.call(self, value);
                    }

                    if (loopCount >= loops) {
                        // remove the interval
                        $self.removeData('countTo');
                        clearInterval(data.interval);
                        value = settings.to;

                        if (typeof (settings.onComplete) == 'function') {
                            settings.onComplete.call(self, value);
                        }
                    }
                }

                function render(value) {
                    var formattedValue = settings.formatter.call(self, value, settings);
                    $self.html(formattedValue);
                }
            });
        };

        $.fn.countTo.defaults = {
            from: 0,               // the number the element should start at
            to: 0,                 // the number the element should end at
            speed: 1000,           // how long it should take to count between the target numbers
            refreshInterval: 100,  // how often the element should be updated
            decimals: 0,           // the number of decimal places to show
            formatter: formatter,  // handler for formatting the value before rendering
            onUpdate: null,        // callback method for every time the element is updated
            onComplete: null       // callback method for when the element finishes updating
        };

        function formatter(value, settings) {
            return value.toFixed(settings.decimals);
        }
    }(jQuery));

    jQuery(function ($) {
        // custom formatting example
        $('.count-number').data('countToOptions', {
            formatter: function (value, options) {
                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
            }
        });

        // start all the timers
        $('.timer').each(count);

        function count(options) {
            var $this = $(this);
            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
            $this.countTo(options);
        }
    });
</script>

</body>

</html>