* {
    margin: 0;
    padding: 0;

}

body {

    margin: 0;
    padding: 0;

    font-family: 'Work Sans', sans-serif;
    background-color: #020231;
}


/*------------------navbar start---------->*/

.navbar {
    background-color: black;
}

.navbar .brand-navbar img:hover {
    opacity: 0.7;
}

.navbar ul {
    padding: 0px 30px 0px 0px;
}

.navbar ul li.active > a {

    border-left: 3px solid #1e00b0 !important;

}


.navbar ul li a {
    color: white;
    margin: 10px 0px 0px 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar ul li a .fas {
    padding-right: 5px;
    padding-left: 5px;
}

.navbar ul li a:hover {
    color: blue;
}

.navbar ul li.active > a {
    color: blue;
    font-weight: bold;
    font-size: 12px;
    border-left: 3px solid #15b000;
    border-radius: 40px;
}

.iconStyle {
    color: blue;
}


/*------------------nav bar end---------->*/
.banner .content {
    position: absolute;
    bottom: 55px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;

}


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.gallery-section {
    width: 100%;
    padding: 60px 0;
    background: #020231;
    height: 800px;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.gallery-section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.border {
    width: 180px;
    height: 4px;
    background: #fff;
    margin: 60px auto;
}

.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;


}

.gallery-section .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    align-items: center;
    background-color: #fff;

}

.gallery-section .image img {
    width: 350px;
    height: 200px;
    transition: 0.4s;

}

.gallery-section .image:hover img {
    transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width: 960px) {
    .gallery-section .image {
        flex: 33.33%;
    }
}

@media screen and (max-width: 768px) {
    .gallery-section .image {
        flex: 50%;
    }
}

@media screen and (max-width: 480px) {
    .gallery-section .image {
        flex: 100%;
    }
}


/*------- Sextion2-------

.section2{
  background: #020231;
  width: 100%;
  height: 500px;
  opacity: 0.8;
  display: inline;
}

.box1{
  background: #fff;
  width: 600px;
  height: 350px;
  position: relative;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.box1 h1{
  color: #020231;
  margin: 20px;
}

.box1 h3{
  color: #020231;
  margin: 10px;
}

.box2 p{
  color: #333;
  margin: 10px;
}

.box2{
  background: #fff;
  width: 600px;
  height: 350px;
  position: relative;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  float: right;
}

.box2 h1{
  color: #020231;
  margin: 20px;
}

.box2 h3{
  color: #020231;
  margin: 10px;
}

.box2 p{
  color: #333;
  margin: 10px;
}

*/

/*-----footer-----*/

/*
.title-text{
  text-align: center;
  padding-bottom: 70px;
}
.title-text p::after{
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(#020231, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.title-text h1{
  font-size: 50px;
}

.title-text p{
  margin: auto;
  font-size: 20px;
  color: rgb(63, 63, 189);
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

@media screen and (max-width: 770px){
  .title-text h1{
      font-size: 35px;
  }
  .features{
      flex-basis: 100%;
  }
  .features-img{
      flex-basis: 100%;
      
  }
  .features-img img{
      width: 100%;
      border-radius: 90px;
  }
}



#footer{
  padding: 100px 0 20px;
  background: #efefef;
  position: relative;
}

.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,.footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}
.footer-right{
  text-align: right;
}

.footer-row h1{
  margin: 10px 0;
}
.footer-row p{
  line-height: 35px;
}

.footer-left .fa,.footer-right .fa{
  font-size: 20px;
  color: #020231;
  margin: 10px;
}

.footer-img{
  max-width: 370px;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-50%);
}

.social-media{
  text-align: center;
}

.social-media .fa{
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #020231;
  margin: 40px 5px 0;
  color: #020231;
  cursor: pointer;
  transition: .5s;
}

.social-media .fa:hover{
  background: #020231;
  color: #fff;
  transform: translateY(-7px);
}

.social-media p{
  font-size: 12px;
  margin-top: 20px;

}

@media screen and (max-width: 770px){
  .footer-left,.footer-right{
      flex-basis: 100%;
      font-size: 14px;
  }
  .footer-img{
      top: 25%;
  }
}


*/


/*-----------footer start--------------*/

.social {
    padding: 2%;
}

.social-font {

    font-size: 30px;
    float: left;
    margin-top: 2%;
    margin-left: 15px;
}

@media only screen and (max-width: 770px) {
    .demo-footer {
        margin-top: 950px;
        text-align: center;
    }
}

/*----------footer end-----------------*/
@media only screen and (max-width: 770px) {
    .demo21 {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .social {
        margin-top: 15px;
        margin-left: 60px;
    }
}

@media only screen and (max-width: 770px) {
    .img1 {
        width: 100%;
        height: auto;
    }
}


.demo-heading1 {
    font-weight: bold;
    font-size: 100px;
}

@media only screen and (max-width: 770px) {
    .demo-heading1 {
        font-weight: bold;
        font-size: 50px;
        margin-top: -15%
    }
}


@media screen and (max-width: 768px) {
    .banner .content {
        position: absolute;
        top: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        padding: 0px;
        text-align: center;
        display: none;
    }
}

.demo-head {
    display: none;
}


@media only screen and (max-width: 770px) {
    .demo-head {
        display: block;
        text-align: center;
        color: white;
        padding-top: 20%;

    }
}

    

        